<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/todoapp/index.css">
</head>
<body>
    <h1>My Todo List</h1>
        <a href="{% url 'index' %}">
    <button>To index</button>
</a>
{% if todos %}
    <div class="container">
        {% for todo in todos %}
            <div class="todo">
                {{ todo.title }}
                <p>{{ todo.text }}</p>
                <div class="description">
                    {{ todo.description }}
                </div>
                <form method="post" action="/todo-change-state/{{ todo.id }}">
                    {% csrf_token %}
                    {% if todo.is_done %}
                        <div class="done">DONE</div>
                    {% else %}
                        <div class="open">NOT DONE</div>
                    {% endif %}
                </form>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h2>No TODOs</h2>
    <a href="{% url 'index' %}">
    <button>To index</button>
</a>
{% endif %}
</body>
</html>