# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Fjoldr\Git\Python\SoftUni\Python Web\Python Web Basics\05.Models and MTV Patterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
